.namedesc {
  width: 65%;
  margin-left: -5px;

}

.logo {
  padding-left: 55px;
}

.featuredwork {
  margin-left: 42px;
}

.rps h2{
  margin-left: 28%;
  font-size: 14px;
}

.trees h2 {
  margin-left: 49%;
}

.stack h2 {
  margin-left: 33%;
}
