.namedesc {
  width: 65%;
  margin-left: 40px;
}

.logo {
  padding-left: 65px;
}

.featuredwork {
  margin-left: 52px;
}

.rps h2{
  margin-left: 33%;
}

.trees h2 {
  margin-left: 51%;
}

.stack h2 {
  margin-left: 37%;
}
