.namedesc {
  width: 65%;
  margin-left: 15px;
}

.logo {
  padding-left: 60px;
}

.featuredwork {
  margin-left: 46px;
}

.rps h2{
  margin-left: 31%;
}

.trees h2 {
  margin-left: 49%;
}

.stack h2 {
  margin-left: 35%;
}
